## Baseline Modell
In diesem notebook wird das Baseline Modell erstellt.  
Das Baseline Modell ist ein einfaches Modell, das als Anfangspunkt für die Vorhersage genutzt wird. Das Hauptmodell muss die Vorhersagequalität des Baseline Modells übersteigen.

In [1]:
import pandas as pd

#### Vorbereiten der Daten

In [2]:
# Laden der Excel-Datei in ein Pandas Dataframe
df_psp = pd.read_excel('C:/Users/Ibrom/Studium/DLMDWME01/PSP_Okt_Dez_2023.xlsx', sheet_name='Sheet1')

#df_psp.head()

,Id,tmsp,country,amount,success,PSP,3D_secured,card
0,0,2023-10-01 00:01:11,Germany,89,0,UK_Card,0,Visa
1,1,2023-10-01 00:01:17,Germany,89,1,UK_Card,0,Visa
2,2,2023-10-01 00:02:49,Germany,238,0,UK_Card,1,Diners
3,3,2023-10-01 00:03:13,Germany,238,1,UK_Card,1,Diners
4,4,2023-10-01 00:04:33,Austria,124,0,Simplecard,0,Diners

#### Baseline-Modell

In [3]:
def BaselineModell(psp_index: int):
    # Liste der PSP-Namen
    psp_names = ['Goldcard', 'Moneycard', 'Simplecard', 'UK_Card']

    # Überprüfen, ob der Eingabewert gültig ist
    if 0 <= psp_index <= 3:

        # Berechnen der durchschnittlichen Erfolgswahrscheinlichkeit für jeden PSP
        avg_success_rate = df_psp.groupby('PSP')['success'].mean()
        # Ausgabe der durchschnittlichen Erfolgswahrscheinlichkeit für jeden PSP
        return avg_success_rate[psp_names[psp_index]]
    else:
        #print("Ungültiger Eingabewert. Bitte geben Sie eine Ganzzahl zwischen 0 und 3 ein.")
        return -1

In [4]:
# Beispielaufruf der Funktion
print(BaselineModell(0))  # Goldcard
print(BaselineModell(1))  # Moneycard
print(BaselineModell(2))  # Simplecard
print(BaselineModell(3))  # UK_Card
print(BaselineModell(6))  # ungültig

0.4061720698254364
0.21875376642159816
0.15812309175638758
0.1943384103707623
-1