In [1]:
import pandas as pd
import plotly.express as px
from datetime import timedelta
import plotly.graph_objects as go
from pyod.models.knn import KNN
from pyod.models.ecod import ECOD
from scipy.stats import chi2_contingency

#### Importieren der Datei

In [2]:
# Laden der Excel-Datei in ein Pandas Dataframe
df_psp = pd.read_excel('C:/Users/Ibrom/Studium/DLMDWME01/PSP_Nov_Dez_2023.xlsx', sheet_name='Sheet1')

# Umbenennen der ersten Spalte in 'Id'
df_psp = df_psp.rename(columns={df_psp.columns[0]: 'Id'})

df_psp.head()

,Id,tmsp,country,amount,success,PSP,3D_secured,card
0,0,2023-11-01 00:01:11,Germany,89,0,UK_Card,0,Visa
1,1,2023-11-01 00:01:17,Germany,89,1,UK_Card,0,Visa
2,2,2023-11-01 00:02:49,Germany,238,0,UK_Card,1,Diners
3,3,2023-11-01 00:03:13,Germany,238,1,UK_Card,1,Diners
4,4,2023-11-01 00:04:33,Austria,124,0,Simplecard,0,Diners

### Korrelationsanalyse

In [3]:
#1
#country - success
# Erstellen Sie eine Kreuztabelle der Variablen 'country' und 'success'
cross_tab = pd.crosstab(df_psp['country'], df_psp['success'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

success          0     1
country
Austria       7826  2013
Germany      24145  6088
Switzerland   8211  2127

Chi-Quadrat Statistik: 1.1301983763676842
p-Wert: 0.5683037749425706

In [4]:
#2
#country - PSP
# Erstellen Sie eine Kreuztabelle der Variablen 'country' und 'PSP'
cross_tab = pd.crosstab(df_psp['country'], df_psp['PSP'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

PSP          Goldcard  Moneycard  Simplecard  UK_Card
country
Austria           583       1654        2414     5188
Germany          1939       4960        7431    15903
Switzerland       686       1683        2601     5368

Chi-Quadrat Statistik: 7.259988555280152
p-Wert: 0.2974714886826989

In [5]:
#3
#country - 3D_secured
# Erstellen Sie eine Kreuztabelle der Variablen 'country' und '3D_secured'
cross_tab = pd.crosstab(df_psp['country'], df_psp['3D_secured'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

3D_secured       0     1
country
Austria       7417  2422
Germany      23083  7150
Switzerland   7899  2439

Chi-Quadrat Statistik: 4.214434986996636
p-Wert: 0.1215757816317695

In [6]:
#4
#country - card
# Erstellen Sie eine Kreuztabelle der Variablen 'country' und 'card'
cross_tab = pd.crosstab(df_psp['country'], df_psp['card'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

card         Diners  Master  Visa
country
Austria        1927    5700  2212
Germany        5747   17428  7058
Switzerland    2094    5874  2370

Chi-Quadrat Statistik: 10.254639269482068
p-Wert: 0.03634995786578327

In [7]:
#5
#success - PSP
# Erstellen Sie eine Kreuztabelle der Variablen 'success' und 'PSP'
cross_tab = pd.crosstab(df_psp['success'], df_psp['PSP'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

PSP      Goldcard  Moneycard  Simplecard  UK_Card
success
0            1905       6482       10478    21317
1            1303       1815        1968     5142

Chi-Quadrat Statistik: 998.7783848081615
p-Wert: 3.312365253382584e-216

In [8]:
#6
#success - 3D_secured
# Erstellen Sie eine Kreuztabelle der Variablen 'success' und '3D_secured'
cross_tab = pd.crosstab(df_psp['success'], df_psp['3D_secured'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

3D_secured      0     1
success
0           31120  9062
1            7279  2949

Chi-Quadrat Statistik: 176.82445096077714
p-Wert: 2.3922411665484545e-40

In [9]:
#7
#success - card
# Erstellen Sie eine Kreuztabelle der Variablen 'success' und 'card'
cross_tab = pd.crosstab(df_psp['success'], df_psp['card'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

card     Diners  Master  Visa
success
0          7590   23379  9213
1          2178    5623  2427

Chi-Quadrat Statistik: 41.17629928597987
p-Wert: 1.144669780335135e-09

In [10]:
#8
#PSP - 3D_secured
# Erstellen Sie eine Kreuztabelle der Variablen 'PSP' und '3D_secured'
cross_tab = pd.crosstab(df_psp['PSP'], df_psp['3D_secured'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

3D_secured      0     1
PSP
Goldcard     2427   781
Moneycard    6305  1992
Simplecard   9478  2968
UK_Card     20189  6270

Chi-Quadrat Statistik: 0.8748341984574648
p-Wert: 0.8314962527036547

In [11]:
#9
#PSP - card
# Erstellen Sie eine Kreuztabelle der Variablen 'PSP' und 'card'
cross_tab = pd.crosstab(df_psp['PSP'], df_psp['card'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

card        Diners  Master  Visa
PSP
Goldcard       670    1763   775
Moneycard     1667    4765  1865
Simplecard    2356    7245  2845
UK_Card       5075   15229  6155

Chi-Quadrat Statistik: 16.04005658272315
p-Wert: 0.013540575127843202

In [12]:
#10
#3D_secured - card
# Erstellen Sie eine Kreuztabelle der Variablen '3D_secured' und 'card'
cross_tab = pd.crosstab(df_psp['3D_secured'], df_psp['card'])

print(cross_tab)

# Führen Sie den Chi-Quadrat-Test durch
chi2, p, dof, expected = chi2_contingency(cross_tab)

print(f"\nChi-Quadrat Statistik: {chi2}")
print(f"p-Wert: {p}")

card        Diners  Master  Visa
3D_secured
0             7353   22081  8965
1             2415    6921  2675

Chi-Quadrat Statistik: 8.937184818787301
p-Wert: 0.01146344033043573

###

#### Korrelations Matrizen: Pearson-Korrelation

In [13]:
# Stellen Sie sicher, dass 'tmsp' im datetime-Format ist
#df_psp['tmsp'] = pd.to_datetime(df_psp['tmsp'])

# Erzeugung der neuen Spalten
df_psp_time = df_psp.copy() # Erstellung eines Kopie des ursprünglichen Dataframes
df_psp_time['tmsp_hour'] = df_psp['tmsp'].dt.hour
df_psp_time['tmsp_minute'] = df_psp['tmsp'].dt.minute
df_psp_time['tmsp_hourMinute'] = df_psp['tmsp'].dt.hour * 100 + df_psp['tmsp'].dt.minute
df_psp_time['tmsp_weekday'] = df_psp['tmsp'].dt.weekday + 1 # In Python ist Montag = 0, deswegen fügen wir 1 hinzu um Montag = 1 zu bekommen
df_psp_time.head()

,Id,tmsp,country,amount,success,PSP,3D_secured,card,tmsp_hour,tmsp_minute,tmsp_hourMinute,tmsp_weekday
0,0,2023-11-01 00:01:11,Germany,89,0,UK_Card,0,Visa,0,1,1,3
1,1,2023-11-01 00:01:17,Germany,89,1,UK_Card,0,Visa,0,1,1,3
2,2,2023-11-01 00:02:49,Germany,238,0,UK_Card,1,Diners,0,2,2,3
3,3,2023-11-01 00:03:13,Germany,238,1,UK_Card,1,Diners,0,3,3,3
4,4,2023-11-01 00:04:33,Austria,124,0,Simplecard,0,Diners,0,4,4,3

In [14]:
#df_psp_time.iloc[10500:10510]

In [15]:
#1
#tmsp - country
df_encoded_tmsp_country = pd.get_dummies(df_psp_time, columns=['country'])
df_encoded_tmsp_country.head()
correlation_matrix_tmsp_country = df_encoded_tmsp_country[['tmsp_hourMinute','country_Austria', 'country_Germany', 'country_Switzerland']].corr()
print(correlation_matrix_tmsp_country)

                     tmsp_hourMinute  country_Austria  country_Germany  \
tmsp_hourMinute             1.000000         0.005941        -0.004526
country_Austria             0.005941         1.000000        -0.602809
country_Germany            -0.004526        -0.602809         1.000000
country_Switzerland        -0.000340        -0.250130        -0.621742

                     country_Switzerland
tmsp_hourMinute                -0.000340
country_Austria                -0.250130
country_Germany                -0.621742
country_Switzerland             1.000000

In [16]:
#2
#tmsp - amount
correlation_matrix_tmsp_amount = df_encoded_tmsp_country[['tmsp_hourMinute','amount']].corr()
print(correlation_matrix_tmsp_amount)

                 tmsp_hourMinute    amount
tmsp_hourMinute         1.000000  0.014143
amount                  0.014143  1.000000

In [17]:
#3
#tmsp - success
df_encoded_tmsp_success = pd.get_dummies(df_psp_time, columns=['success'])
df_encoded_tmsp_success.head()
correlation_matrix_tmsp_success = df_encoded_tmsp_success[['tmsp_hourMinute','success_0', 'success_1']].corr()
print(correlation_matrix_tmsp_success)

                 tmsp_hourMinute  success_0  success_1
tmsp_hourMinute         1.000000  -0.007945   0.007945
success_0              -0.007945   1.000000  -1.000000
success_1               0.007945  -1.000000   1.000000

In [18]:
#4
#tmsp - PSP
df_encoded_tmsp_PSP = pd.get_dummies(df_psp_time, columns=['PSP'])
df_encoded_tmsp_PSP.head()
correlation_matrix_tmsp_PSP = df_encoded_tmsp_PSP[['tmsp_hourMinute','PSP_Goldcard', 'PSP_Moneycard', 'PSP_Simplecard', 'PSP_UK_Card']].corr()
print(correlation_matrix_tmsp_PSP)

                 tmsp_hourMinute  PSP_Goldcard  PSP_Moneycard  PSP_Simplecard  \
tmsp_hourMinute         1.000000     -0.002037       0.001271        0.004066
PSP_Goldcard           -0.002037      1.000000      -0.115715       -0.149268
PSP_Moneycard           0.001271     -0.115715       1.000000       -0.254145
PSP_Simplecard          0.004066     -0.149268      -0.254145        1.000000
PSP_UK_Card            -0.003459     -0.274007      -0.466528       -0.601802

                 PSP_UK_Card
tmsp_hourMinute    -0.003459
PSP_Goldcard       -0.274007
PSP_Moneycard      -0.466528
PSP_Simplecard     -0.601802
PSP_UK_Card         1.000000

In [19]:
#5
#tmsp - 3D_secured
df_encoded_tmsp_3D_secured = pd.get_dummies(df_psp_time, columns=['3D_secured'])
df_encoded_tmsp_3D_secured.head()
correlation_matrix_tmsp_3D_secured = df_encoded_tmsp_3D_secured[['tmsp_hourMinute','3D_secured_0', '3D_secured_1']].corr()
print(correlation_matrix_tmsp_3D_secured)

                 tmsp_hourMinute  3D_secured_0  3D_secured_1
tmsp_hourMinute         1.000000     -0.002414      0.002414
3D_secured_0           -0.002414      1.000000     -1.000000
3D_secured_1            0.002414     -1.000000      1.000000

In [20]:
#6
#tmsp - card
df_encoded_tmsp_card = pd.get_dummies(df_psp_time, columns=['card'])
df_encoded_tmsp_card.head()
correlation_matrix_tmsp_card = df_encoded_tmsp_card[['tmsp_hourMinute','card_Diners', 'card_Master', 'card_Visa']].corr()
print(correlation_matrix_tmsp_card)

                 tmsp_hourMinute  card_Diners  card_Master  card_Visa
tmsp_hourMinute         1.000000    -0.005823     0.012121  -0.008756
card_Diners            -0.005823     1.000000    -0.570612  -0.268623
card_Master             0.012121    -0.570612     1.000000  -0.637756
card_Visa              -0.008756    -0.268623    -0.637756   1.000000

In [21]:
#country 
df_encoded_country = pd.get_dummies(df_psp, columns=['country'])
df_encoded_country

,Id,tmsp,amount,success,PSP,3D_secured,card,country_Austria,country_Germany,country_Switzerland
0,0,2023-11-01 00:01:11,89,0,UK_Card,0,Visa,False,True,False
1,1,2023-11-01 00:01:17,89,1,UK_Card,0,Visa,False,True,False
2,2,2023-11-01 00:02:49,238,0,UK_Card,1,Diners,False,True,False
3,3,2023-11-01 00:03:13,238,1,UK_Card,1,Diners,False,True,False
4,4,2023-11-01 00:04:33,124,0,Simplecard,0,Diners,True,False,False
...,...,...,...,...,...,...,...,...,...,...
50405,50405,2023-12-28 23:45:39,415,0,UK_Card,0,Visa,False,False,True
50406,50406,2023-12-28 23:46:48,91,0,UK_Card,0,Master,True,False,False
50407,50407,2023-12-28 23:47:04,91,0,UK_Card,0,Master,True,False,False
50408,50408,2023-12-28 23:47:36,91,0,UK_Card,0,Master,True,False,False
50409,50409,2023-12-28 23:48:19,91,1,Moneycard,0,Master,True,False,False

In [22]:
#7
#country - amount
correlation_matrix_country_success = df_encoded_country[['country_Austria', 'country_Germany','country_Switzerland','amount']].corr()
print(correlation_matrix_country_success)

                     country_Austria  country_Germany  country_Switzerland  \
country_Austria             1.000000        -0.602809            -0.250130
country_Germany            -0.602809         1.000000            -0.621742
country_Switzerland        -0.250130        -0.621742             1.000000
amount                     -0.001509         0.005445            -0.005127

                       amount
country_Austria     -0.001509
country_Germany      0.005445
country_Switzerland -0.005127
amount               1.000000

In [23]:
#8
#country - success
df_encoded_country_success = pd.get_dummies(df_encoded_country, columns=['success'])
#df_encoded_country_success.head()
correlation_matrix_country_success = df_encoded_country_success[['country_Austria', 'country_Germany', 'country_Switzerland','success_0','success_1']].corr()
print(correlation_matrix_country_success)

                     country_Austria  country_Germany  country_Switzerland  \
country_Austria             1.000000        -0.602809            -0.250130
country_Germany            -0.602809         1.000000            -0.621742
country_Switzerland        -0.250130        -0.621742             1.000000
success_0                  -0.002079         0.004648            -0.003599
success_1                   0.002079        -0.004648             0.003599

                     success_0  success_1
country_Austria      -0.002079   0.002079
country_Germany       0.004648  -0.004648
country_Switzerland  -0.003599   0.003599
success_0             1.000000  -1.000000
success_1            -1.000000   1.000000

In [24]:
#9
#country - PSP
df_encoded_country_PSP = pd.get_dummies(df_encoded_country, columns=['PSP'])
#df_encoded_country_PSP.head()
correlation_matrix_country_PSP = df_encoded_country_PSP[['country_Austria','country_Germany', 'country_Switzerland', 'PSP_Goldcard', 'PSP_Moneycard', 'PSP_Simplecard', 'PSP_UK_Card']].corr()
print(correlation_matrix_country_PSP)

                     country_Austria  country_Germany  country_Switzerland  \
country_Austria             1.000000        -0.602809            -0.250130
country_Germany            -0.602809         1.000000            -0.621742
country_Switzerland        -0.250130        -0.621742             1.000000
PSP_Goldcard               -0.008845         0.002492             0.005657
PSP_Moneycard               0.004670        -0.001754            -0.002456
PSP_Simplecard             -0.001765        -0.003135             0.005537
PSP_UK_Card                 0.002380         0.002791            -0.005723

                     PSP_Goldcard  PSP_Moneycard  PSP_Simplecard  PSP_UK_Card
country_Austria         -0.008845       0.004670       -0.001765     0.002380
country_Germany          0.002492      -0.001754       -0.003135     0.002791
country_Switzerland      0.005657      -0.002456        0.005537    -0.005723
PSP_Goldcard             1.000000      -0.115715       -0.149268    -0.274007
PSP_Moneycard           -0.115715       1.000000       -0.254145    -0.466528
PSP_Simplecard          -0.149268      -0.254145        1.000000    -0.601802
PSP_UK_Card             -0.274007      -0.466528       -0.601802     1.000000

In [25]:
#10
#country - 3D_secured
df_encoded_country_3D_secured = pd.get_dummies(df_encoded_country, columns=['3D_secured'])
df_encoded_country_3D_secured.head()
correlation_matrix_country_3D_secured = df_encoded_country_3D_secured[['country_Austria','country_Germany', 'country_Switzerland', '3D_secured_0', '3D_secured_1']].corr()
print(correlation_matrix_country_3D_secured)

                     country_Austria  country_Germany  country_Switzerland  \
country_Austria             1.000000        -0.602809            -0.250130
country_Germany            -0.602809         1.000000            -0.621742
country_Switzerland        -0.250130        -0.621742             1.000000
3D_secured_0               -0.009128         0.005085             0.002790
3D_secured_1                0.009128        -0.005085            -0.002790

                     3D_secured_0  3D_secured_1
country_Austria         -0.009128      0.009128
country_Germany          0.005085     -0.005085
country_Switzerland      0.002790     -0.002790
3D_secured_0             1.000000     -1.000000
3D_secured_1            -1.000000      1.000000

In [26]:
#11
#country - card
df_encoded_country_card = pd.get_dummies(df_encoded_country, columns=['card'])
df_encoded_country_card.head()
correlation_matrix_country_card = df_encoded_country_card[['country_Austria','country_Germany', 'country_Switzerland', 'card_Diners', 'card_Master', 'card_Visa']].corr()
print(correlation_matrix_country_card)

                     country_Austria  country_Germany  country_Switzerland  \
country_Austria             1.000000        -0.602809            -0.250130
country_Germany            -0.602809         1.000000            -0.621742
country_Switzerland        -0.250130        -0.621742             1.000000
card_Diners                 0.002594        -0.011399             0.011286
card_Master                 0.003990         0.002808            -0.007324
card_Visa                  -0.007113         0.007398            -0.001995

                     card_Diners  card_Master  card_Visa
country_Austria         0.002594     0.003990  -0.007113
country_Germany        -0.011399     0.002808   0.007398
country_Switzerland     0.011286    -0.007324  -0.001995
card_Diners             1.000000    -0.570612  -0.268623
card_Master            -0.570612     1.000000  -0.637756
card_Visa              -0.268623    -0.637756   1.000000

In [27]:
#12
#amount - success
df_encoded_amount_success = pd.get_dummies(df_encoded_country, columns=['success'])
df_encoded_amount_success.head()
correlation_matrix_amount_success = df_encoded_amount_success[['amount','success_0', 'success_1']].corr()
print(correlation_matrix_amount_success)

             amount  success_0  success_1
amount     1.000000   0.086423  -0.086423
success_0  0.086423   1.000000  -1.000000
success_1 -0.086423  -1.000000   1.000000

In [28]:
#13
#amount - PSP
df_encoded_amount_PSP = pd.get_dummies(df_psp, columns=['PSP'])
df_encoded_amount_PSP.head()
correlation_matrix_amount_PSP = df_encoded_amount_PSP[['amount','PSP_Goldcard', 'PSP_Moneycard', 'PSP_Simplecard', 'PSP_UK_Card']].corr()
print(correlation_matrix_amount_PSP)

                  amount  PSP_Goldcard  PSP_Moneycard  PSP_Simplecard  \
amount          1.000000      0.002707      -0.002318       -0.006180
PSP_Goldcard    0.002707      1.000000      -0.115715       -0.149268
PSP_Moneycard  -0.002318     -0.115715       1.000000       -0.254145
PSP_Simplecard -0.006180     -0.149268      -0.254145        1.000000
PSP_UK_Card     0.005734     -0.274007      -0.466528       -0.601802

                PSP_UK_Card
amount             0.005734
PSP_Goldcard      -0.274007
PSP_Moneycard     -0.466528
PSP_Simplecard    -0.601802
PSP_UK_Card        1.000000

In [29]:
#14
#amount - 3D_secured
df_encoded_amount_3D_secured = pd.get_dummies(df_psp, columns=['3D_secured'])
df_encoded_amount_3D_secured.head()
correlation_matrix_3D_secured = df_encoded_amount_3D_secured[['amount','3D_secured_0', '3D_secured_1']].corr()
print(correlation_matrix_3D_secured)

                amount  3D_secured_0  3D_secured_1
amount        1.000000     -0.000178      0.000178
3D_secured_0 -0.000178      1.000000     -1.000000
3D_secured_1  0.000178     -1.000000      1.000000

In [30]:
#15
#amount - card
df_encoded_amount_card = pd.get_dummies(df_psp, columns=['card'])
df_encoded_amount_card.head()
correlation_matrix_amount_card = df_encoded_amount_card[['amount','card_Diners', 'card_Master', 'card_Visa']].corr()
print(correlation_matrix_amount_card)

               amount  card_Diners  card_Master  card_Visa
amount       1.000000     0.000303    -0.002547   0.002703
card_Diners  0.000303     1.000000    -0.570612  -0.268623
card_Master -0.002547    -0.570612     1.000000  -0.637756
card_Visa    0.002703    -0.268623    -0.637756   1.000000

In [31]:
#success
df_encoded_success = pd.get_dummies(df_psp, columns=['success'])
df_encoded_success

,Id,tmsp,country,amount,PSP,3D_secured,card,success_0,success_1
0,0,2023-11-01 00:01:11,Germany,89,UK_Card,0,Visa,True,False
1,1,2023-11-01 00:01:17,Germany,89,UK_Card,0,Visa,False,True
2,2,2023-11-01 00:02:49,Germany,238,UK_Card,1,Diners,True,False
3,3,2023-11-01 00:03:13,Germany,238,UK_Card,1,Diners,False,True
4,4,2023-11-01 00:04:33,Austria,124,Simplecard,0,Diners,True,False
...,...,...,...,...,...,...,...,...,...
50405,50405,2023-12-28 23:45:39,Switzerland,415,UK_Card,0,Visa,True,False
50406,50406,2023-12-28 23:46:48,Austria,91,UK_Card,0,Master,True,False
50407,50407,2023-12-28 23:47:04,Austria,91,UK_Card,0,Master,True,False
50408,50408,2023-12-28 23:47:36,Austria,91,UK_Card,0,Master,True,False
50409,50409,2023-12-28 23:48:19,Austria,91,Moneycard,0,Master,False,True

In [32]:
#16
#success - PSP
df_encoded_success_PSP = pd.get_dummies(df_encoded_success, columns=['PSP'])
df_encoded_success_PSP.head()
correlation_matrix_success_PSP = df_encoded_success_PSP[['success_0','success_1', 'PSP_Goldcard', 'PSP_Moneycard', 'PSP_Simplecard', 'PSP_UK_Card']].corr()
print(correlation_matrix_success_PSP)

                success_0  success_1  PSP_Goldcard  PSP_Moneycard  \
success_0        1.000000  -1.000000     -0.131774      -0.017502
success_1       -1.000000   1.000000      0.131774       0.017502
PSP_Goldcard    -0.131774   0.131774      1.000000      -0.115715
PSP_Moneycard   -0.017502   0.017502     -0.115715       1.000000
PSP_Simplecard   0.063746  -0.063746     -0.149268      -0.254145
PSP_UK_Card      0.022366  -0.022366     -0.274007      -0.466528

                PSP_Simplecard  PSP_UK_Card
success_0             0.063746     0.022366
success_1            -0.063746    -0.022366
PSP_Goldcard         -0.149268    -0.274007
PSP_Moneycard        -0.254145    -0.466528
PSP_Simplecard        1.000000    -0.601802
PSP_UK_Card          -0.601802     1.000000

In [33]:
#17
#success - 3D_secured
df_encoded_success_3D_secured = pd.get_dummies(df_encoded_success, columns=['3D_secured'])
df_encoded_success_3D_secured.head()
correlation_matrix_success_3D_secured = df_encoded_success_3D_secured[['success_0','success_1', '3D_secured_0', '3D_secured_1']].corr()
print(correlation_matrix_success_3D_secured)

              success_0  success_1  3D_secured_0  3D_secured_1
success_0      1.000000  -1.000000      0.059284     -0.059284
success_1     -1.000000   1.000000     -0.059284      0.059284
3D_secured_0   0.059284  -0.059284      1.000000     -1.000000
3D_secured_1  -0.059284   0.059284     -1.000000      1.000000

In [34]:
#18
#success - card
df_encoded_success_card = pd.get_dummies(df_encoded_success, columns=['card'])
df_encoded_success_card.head()
correlation_matrix_success_card = df_encoded_success_card[['success_0','success_1','card_Diners', 'card_Master', 'card_Visa']].corr()
print(correlation_matrix_success_card)

             success_0  success_1  card_Diners  card_Master  card_Visa
success_0     1.000000  -1.000000    -0.024474     0.026086  -0.007642
success_1    -1.000000   1.000000     0.024474    -0.026086   0.007642
card_Diners  -0.024474   0.024474     1.000000    -0.570612  -0.268623
card_Master   0.026086  -0.026086    -0.570612     1.000000  -0.637756
card_Visa    -0.007642   0.007642    -0.268623    -0.637756   1.000000

In [35]:
#PSP
df_encoded_PSP = pd.get_dummies(df_psp, columns=['PSP'])
df_encoded_PSP.head()

,Id,tmsp,country,amount,success,3D_secured,card,PSP_Goldcard,PSP_Moneycard,PSP_Simplecard,PSP_UK_Card
0,0,2023-11-01 00:01:11,Germany,89,0,0,Visa,False,False,False,True
1,1,2023-11-01 00:01:17,Germany,89,1,0,Visa,False,False,False,True
2,2,2023-11-01 00:02:49,Germany,238,0,1,Diners,False,False,False,True
3,3,2023-11-01 00:03:13,Germany,238,1,1,Diners,False,False,False,True
4,4,2023-11-01 00:04:33,Austria,124,0,0,Diners,False,False,True,False

In [36]:
#19
#PSP - 3D_secured
df_encoded_PSP_3D_secured = pd.get_dummies(df_encoded_PSP, columns=['3D_secured'])
df_encoded_PSP_3D_secured.head()
correlation__PSP_3D_secured = df_encoded_PSP_3D_secured[['PSP_Goldcard','PSP_Moneycard', 'PSP_Simplecard', 'PSP_UK_Card', '3D_secured_0', '3D_secured_1']].corr()
print(correlation__PSP_3D_secured)

                PSP_Goldcard  PSP_Moneycard  PSP_Simplecard  PSP_UK_Card  \
PSP_Goldcard        1.000000      -0.115715       -0.149268    -0.274007
PSP_Moneycard      -0.115715       1.000000       -0.254145    -0.466528
PSP_Simplecard     -0.149268      -0.254145        1.000000    -0.601802
PSP_UK_Card        -0.274007      -0.466528       -0.601802     1.000000
3D_secured_0       -0.003174      -0.001897       -0.000274     0.003197
3D_secured_1        0.003174       0.001897        0.000274    -0.003197

                3D_secured_0  3D_secured_1
PSP_Goldcard       -0.003174      0.003174
PSP_Moneycard      -0.001897      0.001897
PSP_Simplecard     -0.000274      0.000274
PSP_UK_Card         0.003197     -0.003197
3D_secured_0        1.000000     -1.000000
3D_secured_1       -1.000000      1.000000

In [37]:
df_encoded_PSP_3D_secured['PSP_Goldcard'].corr(df_encoded_PSP_3D_secured['PSP_Moneycard'], method='kendall')

-0.1157149399781102

In [38]:
df_encoded_PSP_3D_secured['PSP_Goldcard'].corr(df_encoded_PSP_3D_secured['PSP_Moneycard'])

-0.11571493997811

In [39]:
#20
#PSP - card
df_encoded_PSP_card = pd.get_dummies(df_encoded_PSP, columns=['card'])
df_encoded_PSP_card.head()
correlation_PSP_card = df_encoded_PSP_card[['PSP_Goldcard','PSP_Moneycard', 'PSP_Simplecard', 'PSP_UK_Card', 'card_Diners', 'card_Master', 'card_Visa']].corr()
print(correlation_PSP_card)

                PSP_Goldcard  PSP_Moneycard  PSP_Simplecard  PSP_UK_Card  \
PSP_Goldcard        1.000000      -0.115715       -0.149268    -0.274007
PSP_Moneycard      -0.115715       1.000000       -0.254145    -0.466528
PSP_Simplecard     -0.149268      -0.254145        1.000000    -0.601802
PSP_UK_Card        -0.274007      -0.466528       -0.601802     1.000000
card_Diners         0.009948       0.008024       -0.006480    -0.005225
card_Master        -0.013586      -0.000914        0.007868     0.000526
card_Visa           0.006605      -0.006453       -0.003151     0.004284

                card_Diners  card_Master  card_Visa
PSP_Goldcard       0.009948    -0.013586   0.006605
PSP_Moneycard      0.008024    -0.000914  -0.006453
PSP_Simplecard    -0.006480     0.007868  -0.003151
PSP_UK_Card       -0.005225     0.000526   0.004284
card_Diners        1.000000    -0.570612  -0.268623
card_Master       -0.570612     1.000000  -0.637756
card_Visa         -0.268623    -0.637756   1.000000

In [40]:
#21
#3D_secured - card
df_encoded_3D_secured = pd.get_dummies(df_psp, columns=['3D_secured'])
df_encoded_3D_secured_card = pd.get_dummies(df_encoded_3D_secured, columns=['card'])
df_encoded_3D_secured_card.head()
correlation_3D_secured_card = df_encoded_3D_secured_card[['3D_secured_0','3D_secured_1', 'card_Diners', 'card_Master', 'card_Visa']].corr()
print(correlation_3D_secured_card)

              3D_secured_0  3D_secured_1  card_Diners  card_Master  card_Visa
3D_secured_0      1.000000     -1.000000    -0.010322    -0.001018   0.010875
3D_secured_1     -1.000000      1.000000     0.010322     0.001018  -0.010875
card_Diners      -0.010322      0.010322     1.000000    -0.570612  -0.268623
card_Master      -0.001018      0.001018    -0.570612     1.000000  -0.637756
card_Visa         0.010875     -0.010875    -0.268623    -0.637756   1.000000

In [41]:
#21
#3D_secured - card
df_encoded_3D_secured = pd.get_dummies(df_psp, columns=['3D_secured'])
df_encoded_3D_secured_card = pd.get_dummies(df_encoded_3D_secured, columns=['card'])
df_encoded_3D_secured_card.head()
correlation_3D_secured_card = df_encoded_3D_secured_card[['3D_secured_0','3D_secured_1', 'card_Diners', 'card_Master', 'card_Visa']].corr(method='kendall')
print(correlation_3D_secured_card)

              3D_secured_0  3D_secured_1  card_Diners  card_Master  card_Visa
3D_secured_0      1.000000     -1.000000    -0.010322    -0.001018   0.010875
3D_secured_1     -1.000000      1.000000     0.010322     0.001018  -0.010875
card_Diners      -0.010322      0.010322     1.000000    -0.570612  -0.268623
card_Master      -0.001018      0.001018    -0.570612     1.000000  -0.637756
card_Visa         0.010875     -0.010875    -0.268623    -0.637756   1.000000